// 添加背景图片
body {
      background: url(https://source.unsplash.com/random/1600x900?wallpapers);//自己喜欢的图片地址
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}


// 标题栏背景
.site-meta {
    padding: 20px 0;
    color: #fff;
    background: $blue;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}  

// 修改主体透明度
.main-inner{
    background: #fff;
    opacity: 0.95;
}

// 修改菜单栏透明度，会引起本地搜索菜单bug
//.header-inner {
//    opacity: 0.95;
//}

// 主页文章添加阴影效果
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

//主标题颜色
.brand{
    color: #390044
}

//副标题颜色
.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
}


//目录背景色
.header-inner{  
  background: #bc0100;
  background: linear-gradient(0deg, #bc0100 20%, #9b1d22 80%);
}


//侧边栏与文字的颜色
.menu-item a{

  color: #fbda41 //左上目录文字颜色
}

.menu-item-active a{
  color: #555555
}

//页脚文字
.footer,.footer a,.footer .with-love{
  color: #31ff00
}


//文章样式
//每一篇文章标题右侧增加图片
article .post-header{
  background: url(/images/46265dece9bce1c56eb6dc6d4c931423.jpeg);
  background-repeat: no-repeat;//不重复
  background-position: right ; //居右
  background-size: contain;//合适大小
  //color: #ff0000; //归档的日期文字颜色
}


//文章版权处右侧增加图片（没有找到图片所在位置）
article .post-copyright{
  background: url(https://s1.ax1x.com/2018/12/20/FrD60g.png);//瑾贺新年 透明
  background-repeat: no-repeat;//不重复
  background-position: right bottom ; //居右下
  background-size: contain;//auto按图片比例缩放
}


//文章内页左边栏样式
//左边栏概览
.sidebar-inner {
  //background: url(https://s1.ax1x.com/2018/12/20/FrBGIs.jpg);//元旦 大红背景
  background: url(/images/d487657bd263d8d9d17e23b75c241034.jpg);// 左下格式

  background-repeat: no-repeat;//不重复
  background-position: center ; //居右下
  background-size: cover;//auto按图片比例缩放

  //color: #fbda41;
}

.sidebar-inner .site-overview-wrap .site-overview,.sidebar-inner .site-overview-wrap .site-overview .site-author-name,.sidebar a,.sidebar span.exturl,.site-state-item-name,.site-description{
  color: #fbda41;  //左下文字颜色
}

//文章内页左边栏(要改下方的颜色尽量全改，不然会颜色混杂)
.sidebar-nav .sidebar-nav-active{
  color: #fbda41;
  border-bottom-color: #fbda41;
}
.sidebar-nav li{
  color: #fbda41;
  border-bottom-color: #fbda41;
}
.links-of-blogroll-list{
  text-shadow: red 0 1px 0;//给links部分添加文字阴影
}
.post-toc ol a{
  color: #fbda41;
}